$font1: sans-serif;
$size1: 24px;
$size2: 20px;
$size3: 12px;
$colorBase: rgb(31, 29, 29);

*{
    box-sizing: border-box;
    margin: 0px;
    font-family: $font1;
}


@mixin position {
    display: flex;
    justify-content: center;
}

body{
    // background-image: url('./img/clouds.jpeg');
    // background-size: cover;
    background-color: rgb(155, 182, 223)
}

header{
    height: 20vh;
    @include position();
    align-items: center;
    font-size: $size1;
    font-weight: bold;
    color: rgb(247, 240, 240);
    
}
.container{
    width: 100%;
    height: 80vh;
    @include position();
    
}

#text{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 5px;
    font-family: $font1;
    color: $colorBase;
}

.button{
    border-radius: 5px;
    border: none;
    margin-right: 3px;
    color: $colorBase;
}

.button2{
    border-radius: 5px;
    border: none;
    margin-right: 3px;
    color: $colorBase;
}

.section{
    height: 40%;
    width: auto;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    &__data{
        @include position();
        margin-bottom: 50px;
    }
    &__results{
        display: flex;
        flex-direction: column;
    }
}

.results--container{
    box-shadow: 7px 5px 12px -3px #000000;
    background-color: rgb(40, 85, 231);
    margin: 15px;
    color: rgb(255, 251, 251);
    height: 200px;
    width: 200px;
    border-radius: 10px;
    @include position();
    align-items: center;
}
.data--temp{
    position: relative;
}
.temp--number{
    font-size: 36px;
    .temp--unit{
        font-size: $size3;
        position: absolute;
        bottom: 60%;
    }
}

.data--info{
    font-size: $size3;
}

@media (min-width: 600px ){
    header{
        font-size: 32px;
    }

    #text{
        height: 30px; width: 200px;
    }

    .results--container{
        height: 300px; width: 300px;
    }

    .temp--number{
        font-size: 40px;
        .temp--unit{
            font-size: $size2;
            bottom: 50%;
        }
    }
}